/* All Codes By https://github.com/sabinorodrigo */
/* All Modifications By https://github.com/EduardoMoreiraDeSouza */
/* The Original Codes Are At https://github.com/sabinorodrigo/resgistration-form */

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #FF8D00;
  color: #f5f6f7;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #cc7000;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
  margin-top: 1rem;
  padding: 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  padding-left: 0.5rem;
}

input, textarea {
  background-color: #cc7000;
  border: 1px solid #cc7000;
  vertical-align: middle;
  color: #f5f6f7;

}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #995400;
  color: white;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

a {
  color: #fdfde2;
}

/* All Codes By https://github.com/sabinorodrigo */
/* All Modifications By https://github.com/EduardoMoreiraDeSouza */
/* The Original Codes Are At https://github.com/sabinorodrigo/resgistration-form */